:root {
    margin: 20px 0 20px;
    font-family: Lato, sans-serif;
    font-weight:600;
    line-height: 1.5;
    color: lavender;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-weight: 300;
  }
  
  html {
    position: relative;
  }
  
  #html-background-image {
    will-change: transform;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.75);
    object-fit: cover;
  }

button, input {
  border-radius: 5px;
}


h1 {
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 6em;
    color: lavender;
    font-weight: 300;
  }
  
  #title_banner {
    background-color: rgba(67, 71, 73, 0.63);
    padding: 0 50px 30px;
    border-radius: 10px;
    /* opacity: 75%; */
    text-align-last: center;
    
  }

  #title_banner p {
    font-weight: 1000;
    font-size: larger;
  }

  /* #pantry_input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
   */

#sectionOne {
  background-color: rgba(67, 71, 73, 0.63);
  border-radius: 10px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  /* overflow-x: scroll; */
  gap: 3vw;
}

   .ingredientSection {
    padding: 20px;
}

.submit, .input {
  margin-left: 20px;
}

.ingredientList {
    margin: 20px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
    color: black;
 }


  #algorithm2submit {
    display: flex;
    padding: 20px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
  }
  
  button {
    padding: 7px 100px;
    font-size: large;
  }
  
  #sectionThree {
    background-color: rgba(67, 71, 73, 0.63);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: flex-start;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    gap: 10px;
  }

  .detail-image {
    height: 350px;
    border-radius: 10px;
  }
  
  /* #recipe {
    position: relative;
  }
  
  
  .name {
    position: absolute;
    left: 10px;
    padding: 0 5rem 0.25rem 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 25px;
  } */

  #footer {
    margin: 30px;
  }

